.App {
  /* background: #17181f; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.Navbar {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  flex: 1;
}

.logo-container {
  text-align: center;
  padding: 2vh 0;
  justify-content: center;
  flex: 1;
}
.logo-img {
  width: 8vw;
}

.menu-container {
  flex: 9;
  color: white;
}
.Link {
  text-decoration: none;
  color: white;
}
.menu-item {
  border-radius: 2vw;
  cursor: pointer;
  width: 7vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2vh auto;
}
.active {
  background-color: #f05756;
}
.menu-item-img {
  width: 3vw;
}
.menu-item-name {
  font-size: 1.3vw;
  padding: .1vh 0;
}

.right-side {
  flex: 8;
}

.Body {
  display: flex;
  flex-direction: row;
  color: white;
}

.BodyMain {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.SearchBar {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 2vw;
  align-items: center;
}
.res-name {
  flex: 1;
}
.res-name h1 {
  letter-spacing: 1px;
  font-size: 3vw;
}
.res-name p {
  font-size: 1.25vw;
  color: gray;
  letter-spacing: 0.5px;
}

.search-section {
  width: 100%;
  flex: 1;
}
.search-input {
  width: 27.4vw;
  padding: .7vw .5vw .7vw 3.5vw;
  border-radius: 1vw;
  border: none;
  outline: none;
  font-size: 1.6vw;
  letter-spacing: 0.5px;
}

.Filter {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter-item {
  padding: 0 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1.5vw;
  flex: 1;
  margin: 1vw 1.5vw;
  cursor: pointer;
  border: .15vw solid transparent;
}
.filter-active {
  border: .15vw solid #f05756;
  box-shadow: inset 0 0 1.5vw #f05756;
}
.filter-item img {
  width: 5vw;
}
.filter-img-container {
  flex: 1;
  text-align: center;
}
.filter-name {
  text-align: center;
  flex: 2;
}
.filter-name p {
  font-size: 1.4vw;
  letter-spacing: .6px;
}


.SellCard {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  padding: .5vw .97vw;
}
.card {
  height: max-content;
  width: max-content;
  margin: 1.5vw;
  border-radius: 2vw;
  padding: 1vw;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 30px gray;
}
.card img {
  width: 10.67vw;
  height: 7vw;
  border-radius: 1vw;
}

.card-item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: .5vw;
}
.item-name {
  padding: .2vw 0;
  font-size: 1.3vw;
}
.item-price {
  font-size: 1.5vw;
  color: #f05756;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.stock {
  color: gray;
  font-size: .9vw;
}

.BodyBill {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.OrderCards {
  flex: 5;
  padding: 1.6vw 1vw .5vw .5vw;
}
.OrderCards h1 {
  font-size: 2.2vw;
  letter-spacing: 0.5px;
}
.order-cards {
  height: 55vh;
  margin-top: 1vh;
}
.order-card {
  margin: .5vw 0;
  padding: .5vw;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.order-card:hover {
  box-shadow: inset 0 0 1vw red;
}
.order-card-img {
  flex: 1;
}
.order-name {
  flex: 3;
  padding: 0 1% 0 3%;
  font-size: 1vw;
}
.order-cost {
  flex: 1;
  text-align: center;
  color: #f05756;
  font-size: 1.05vw;
}
.order-card-img img {
  width: 6vw;
  height: 4vw;
  border-radius: 1vw;
}
.OrderBill {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 0 5% 10% 2%;
  border-radius: 2vw;
  justify-content: center;
}
.OrderBill p {
  color: gray;
  font-size: 1.1vw;
  letter-spacing: 0.5px;
}
.OrderBill h3 {
  color: #f05756;
  font-size: 1.3vw;
  font-weight: 500;
}
.orderbill-cost,
.orderbill-cost-tax,
.orderbill-cost-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.bill-divider {
  border-top: .1vw solid gray;
  margin-top: 5% ;
  flex: .1;
}
.orderbill-cost-total p {
  font-weight: 600;
  font-size: 1.4vw;
  letter-spacing: 1px;
}
.orderbill-cost-total h3 {
  font-size: 1.5vw;
}
.bill-generate-btn {
  flex: 1;
}
.ripple-btn {
  width: 20.3vw;
  padding: 3% 0;
  background: #f05756;
  cursor: pointer;
  border-radius: 16px;
  border: 0;
  position: relative;
  overflow: hidden;
}
.ripple-btn p {
  font-size: 1.5vw;
  color: white;
  text-align: center;
  z-index: 1;
  position: relative;
}
.ripple-btn::before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,.1);
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 1s, height .3s ease-in-out;
}
.ripple-btn:hover::before {
  width: 1000%;
  height: 1000%;
}


.scrolly {
  overflow-y: scroll;
}

.Stock-item,
.Settings {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.setting-name {
  font-size: 4vw;
  padding: 1vw 0;
}

.theme {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 1% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.theme-toggle-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.theme-toggle-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-toggle-btn label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}
.theme-toggle-btn label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
.theme-toggle-btn input:checked + label {
  background-color: #f05756;
}
.theme-toggle-btn input:checked + label:before {
  transform: translateX(26px);
}

.stock-card {
  display: flex;
  flex-direction: row;
  padding: .5vw;
  margin: 1%;
  align-items: center;
  border-radius: 1.5vw;
}
.stock-card-img {
  flex: 1;
}
.stock-card-img img {
  width: 10vw;
  height: 6vw;
  border-radius: 1vw;
}
.stock-card-name {
  flex: 5;
}
.stock-card-name h1 {
  font-size:2vw;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.stock-card-stock-count-btn {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stock-card-stock-count-btn button {
  font-size: 1vw;
  width: 2.5vw;
  height: 2.5vw;
}
.stock-card-stock-count-btn p {
  font-size: 2vw;
  width: 4.5vw;
  text-align: center;
}
